Repository rabbitstack/fibratus, pull requests merged in 2025-02, with the labels that each got.

#430 feat(filter): Add additional callstack fields
  pkg/filter/accessor_windows.go
  pkg/filter/fields/fields.go
  pkg/filter/fields/fields_windows.go
  pkg/filter/filter_test.go
  pkg/filter/ql/function.go
  pkg/filter/util.go
  pkg/kevent/callstack.go
  pkg/kevent/callstack_test.go
  pkg/symbolize/symbolizer.go
  pkg/util/va/address.go
Labels: scope: filters

#437 fix(rule): Add exclusion for `Process execution from a self-deleting binary` rule
  rules/defense_evasion_process_execution_from_self_deleting_binary.yml
Labels: rules

#441 fix(rules): Add exclusions to reduce false positives
  rules/credential_access_potential_sam_hive_dumping.yml
  rules/defense_evasion_dotnet_assembly_loaded_by_unmanaged_process.yml
  rules/defense_evasion_process_execution_from_self_deleting_binary.yml
  rules/defense_evasion_unsigned_dll_injection_via_remote_thread.yml
Labels: rules

#428 chore(function): `substr` function with optional argument
  pkg/filter/ql/functions/substr.go
  pkg/filter/ql/functions/substr_test.go
Labels: scope: filters

#436 perf(yara): Limit YARA mmap scans
  pkg/yara/scanner.go
Labels: scope: yara

#453 fix(rule-engine): Guard rule matches slice with mutex
  pkg/rules/engine.go
Labels: rule-engine
